=# stylesheet_link_tag :profile
.span-24.last
  .span-3.first    
    = render '/home/links', user: @user
  .span-20.last
    %h3 Change your profile here
    - if current_user.profile.present?
      = render 'resume' 
    - else
      You don't have a Profile yet. Please Create one. 
      = link_to 'Create Profile', "/user/#{@user.username}/profile/create"
