.statuses
  -Activity.applications_feed.where(user_id: @application.user.id).each do |item|
    .span-1
      = image_tag gravatar_for(item.user), :class => 'span-1'
      
    .span-18.last      
      = raw item.text

    .span-18.last
      %em.quiet
        = time_ago_in_words(item.created_at.to_time)
    %hr    