
.span-24.first
  .span-3.first    
    = render '/home/links', user: current_user    
  
  .span-20.last  
    %hr.space
    .span-4
      %i.icon-list-alt
      %strong{:style => 'font-size:18px;'} Applications

    .span-8 &nbsp;
    .span-6.last.right
      - unless current_user.employer? 
        %a.button{:href =>'/applications/all', class: 'btn btn-mini'} all

        %a.button{:href =>'/applications/applied', class: 'btn btn-mini'} applied 
        %a.button{:href =>'/applications/interview', class: 'btn btn-mini'} interview
        %a.button{:href =>'/applications/declined', class: 'btn btn-mini'} declined
    %hr.space  
      
    #applications_list
      - if current_user.employee? || current_user.admin?
        = render 'apps_candidate'
      - else
        = render 'apps_employer'   