.span-24.last
  .span-3.first    
    = render '/home/links', user: @user
  .span-20.last
    %h3 Aplication
    - if @user.profile.present?
      = render 'form' 
    - else
      Fill or Create Your Profile First
      = link_to "Add Profile", user_profile_path(current_user.username)  