= render 'nav'

%h1 Jobster
= image_tag 'distributed.png', :class => 'distributed'
.span-13.first
  %h2.welcome 
    Connect with the biggest Companies in Bolivia, share your skills, Create your professional circle. Join Now!   
.span-10.last
  .subtitle 
    You don't need to register any accounts, just use an existing account from your favorite Internet provider!
  
    