$navbarBackground: darken(#3b5998,10%);
$navbarBackgroundHighlight: #3b5998;
$navbarText: #eee;
$navbarLinkColor: #eee;

$black: #200;
$blue: #3f8fba;
$dark-blue: darken(#0984C8,10%);
$green: #8EDE3D;

$grey: #2b2b2b;
$light-grey: #ddd;

$red: #a80000;
$background: #fff;
$creation-blue: #0097ff;

$red: #a80000;
$background: #fff;
$creation-blue: #0097ff;
